/* GLOBAL STYLES */
html, body {
    background: transparent;
    padding-top: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* animation: gradual 3s forwards; */
    margin-top: 0px;
    margin:0; /*gets rid of white space around body*/
    height:150vh;
    position: fixed; 
   } 

.sidebar{
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: yellow !important; */
    top: 0;
    left: 0;
    color: black;
}

.content{ 
    width: 100%;
    position: absolute;
    top:0;
}

.portfolio{
    padding-top: 50px;
    width: 75%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

li,a{
    color: black;
    text-align: center;
    text-decoration: none !important;
}
